services:
  rproxy:
    container_name: proxy
    image: nginx
    restart: always
    networks:
      site:
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /root/home/certbot:/certbot
      - ./logs/:/etc/nginx/logs/
      - ./dev.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt/live/kelseywilliams.co/privkey.pem:/certs/home/privkey.pem:ro
      - /etc/letsencrypt/live/kelseywilliams.co/fullchain.pem:/certs/home/fullchain.pem:ro
      - /etc/letsencrypt/live/api.kelseywilliams.co/privkey.pem:/certs/api/privkey.pem:ro
      - /etc/letsencrypt/live/api.kelseywilliams.co/fullchain.pem:/certs/api/fullchain.pem:ro

    healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost"]
        timeout: 3s
        retries: 3


networks:
  site:
    external: true
